[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to Automatic download and conversion of Geobase Road Network at Musings
Type=Link
URL=http://www.uttara.ca/blog/gis/automatic-download-and-conversion-of-geobase-road-network
Icon=gnome-fs-bookmark
