[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to Using CanVec at Musings
Type=Link
URL=http://www.uttara.ca/blog/gis/using-canvec
Icon=gnome-fs-bookmark
